<!-- About -->
<section id="container">
    <article>
        <br>
        <h2>About ICCDI 2023</h2>
        <p>International Conference on Computational Intelligence, Data Analytics and Information Sciences
            (ICCDI-2023) is
            organized with the objective of bringing together scientists, professors, research scholars,
            students,
            and industrial
            experts in the field of computational techniques and their various applications in a common forum.
            The
            conference will
            provide the researchers and attendees with prospects for national and international collaboration
            and
            networking.
            ICCDI-2023 will be held in Virtual Mode. Depending on the quality of the paper (after double blinded
            peer review), the
            paper will be accpeted in either AIP conference proceedings or Elsevier SSRN series.
        </p>

    </article>
    <article id="aboutGtbit" class="flex-align-center">
        <div>
            <h2>About GTBIT</h2>
            <p>Guru Tegh Bahadur Institute of Technology (GTBIT) was established in 1999 by Delhi Sikh Gurdwara
                Management Committee
                (DSGMC), which is running a large number of educational institutes, besides carrying out large
                number of religious and
                social activities. GTBIT is a degree level technical institute, approved by AICTE and affiliated
                to
                Guru Gobind Singh
                Indraprastha University, Delhi.</p>
        </div>
        <div>
            <img src="/img/gtbitlogo.png" alt="">
        </div>
    </article>
</section>
<section id="container">
    <h2>Proceeding Partners</h2>
    <div class="flex-align-center partners">
        <img src="https://online-conf.com/ICCDI-2023/ICCDI_images/AIP-Proceeding.jpg" alt="">
        <img src="https://online-conf.com/ICCDI-2023/ICCDI_images/PROCEEDING_PARTNERS.png" alt="">
    </div>
</section>