<footer id="footer" class="flex-align-center">
    <article>
        <h2>ICCDI 2023</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio laboriosam temporibus
            doloribus
            assumenda culpa neque et magnam reprehenderit tempore dolorum ad minus, reiciendis nesciunt
            officia
            quibusdam molestiae voluptatibus laborum!</p>
        <p><i class="fa-solid fa-envelope"></i> Japneet8208@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> 7982163675</p>
        <p><i class="fa-solid fa-location-dot"></i> G-8 Area, Rajouri Garden, New Delhi:- 110064</p>
    </article>
    <article>
        <h2>Quick Links</h2>
        <div class="quickLinks">
            <li class=""><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/speakers">Speakers</a></li>
            <li><a href="/venue">Venue</a></li>
            <li><a href="/callForPaper">Call For Paper</a></li>
            <li><a href="/sessions">Sessions</a></li>
        </div>

    </article>
    <article>
        <h2 style="display: flex; gap: 10px; align-items: center;"><img width="40px" src="/img/gtbitlogo.png" alt="">
            GTBIT</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio laboriosam temporibus
            doloribus
            assumenda culpa neque et magnam reprehenderit tempore dolorum ad minus, reiciendis nesciunt
            officia
            quibusdam molestiae voluptatibus laborum!</p>
        <p><i class="fa-solid fa-link"></i> <a href="https://www.gtbit.org/">gtbit.org</a></p>
    </article>
</footer>
<p id="footerBar">International Conference On Computational Intelligence, Data Analytics
    and Information Sciences Copyright © 2023
</p>
<p id="footerBar2">Website by Japneet Singh Baluja
</p>