<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Document</title>
</head>

<body>
    <!-- Mobile Navbar / Sidebar -->
    <nav id="mobileNav">
        <div id="navbar-logo">
            <h1>ICCDI 2023</h1>
        </div>
        <button id="sidebarBtn"><i class="fa-solid fa-bars-staggered"></i></button>
    </nav>

    <nav id="navbar">
        <div id="closeSideBar">
            <button id="closeSidebarBtn"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div id="navbar-logo">
            <h1>ICCDI 2023</h1>
        </div>
        <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Speakers</a></li>
            <li><a href="/">Venue</a></li>
            <li><a href="/">Papers</a></li>
        </ul>
        <div id="registerBtn">
            <a class="registerBtn" href="/">Register</a>
        </div>
    </nav>
    <!-- Showcase -->
    <section id="showcase1">
        <article>
            <div class="bgText">
                <br>
                <div style="display: flex; gap: 20px; align-items: center; margin-bottom: 10px;">
                    <div class="line">
                    </div>
                    <div>
                        <p class="adjustFontSize">International Conference On</p>
                        <h2>Computational Intelligence, Data Analytics </h2>
                        <h2>and Information Sciences</h2>
                    </div>
                </div>
                <p style="font-size: 16px; margin-bottom: 6px; line-height: 4px;">Organised By</p>
                <div class="organisedBy">
                    <p>Guru Tegh Bahadur Institute of Technology, Affiliated to GGSIPU, New
                        Delhi, India</p>
                </div>
                <div class="organisedBy">
                    <p><i class="fa-solid fa-calendar-days"></i> 7th January
                        &nbsp;&nbsp;/&nbsp;&nbsp; <i class="fa-solid fa-clock"></i> 10 Am Onwards</p>
                </div>
                <div style="margin: 8px 0;">
                    <a class="registerBtn" href="/">Register Online</a>
                </div>
            </div>
        </article>
    </section>
    <!-- Notices -->
    <section class="noticesSection flex-align-center">
        <article>
            <h2>Notices</h2>
            <section class="noticesList">
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
            </section>

        </article>

        <article>
            <h2>Important Dates</h2>
            <section class="noticesList">
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
            </section>

        </article>

        <article>
            <h2>Downloads</h2>
            <section class="noticesList">
                <div>
                    <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi university,
                        India on 17-18 February
                        2023.</p>
                    <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                </div>
            </section>

        </article>

    </section>
    <!-- About -->
    <section id="container">
        <article>
            <br>
            <h2>About ICCDI 2023</h2>
            <p>International Conference on Computational Intelligence, Data Analytics and Information Sciences
                (ICCDI-2023) is
                organized with the objective of bringing together scientists, professors, research scholars, students,
                and industrial
                experts in the field of computational techniques and their various applications in a common forum. The
                conference will
                provide the researchers and attendees with prospects for national and international collaboration and
                networking.
                ICCDI-2023 will be held in Virtual Mode. Depending on the quality of the paper (after double blinded
                peer review), the
                paper will be accpeted in either AIP conference proceedings or Elsevier SSRN series.
            </p>

        </article>
        <article id="aboutGtbit" class="flex-align-center">
            <div>
                <h2>About GTBIT</h2>
                <p>Guru Tegh Bahadur Institute of Technology (GTBIT) was established in 1999 by Delhi Sikh Gurdwara
                    Management Committee
                    (DSGMC), which is running a large number of educational institutes, besides carrying out large
                    number of religious and
                    social activities. GTBIT is a degree level technical institute, approved by AICTE and affiliated to
                    Guru Gobind Singh
                    Indraprastha University, Delhi.</p>
            </div>
            <div>
                <img src="/img/gtbitlogo.png" alt="">
            </div>
        </article>
    </section>
    <section id="container">
        <h2>Proceeding Partners</h2>
        <div class="flex-align-center partners">
            <img src="https://online-conf.com/ICCDI-2023/ICCDI_images/AIP-Proceeding.jpg" alt="">
            <img src="https://online-conf.com/ICCDI-2023/ICCDI_images/PROCEEDING_PARTNERS.png" alt="">
        </div>
    </section>
    <footer id="footer" class="flex-align-center">
        <article>
            <h2>ICCDI 2023</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio laboriosam temporibus doloribus
                assumenda culpa neque et magnam reprehenderit tempore dolorum ad minus, reiciendis nesciunt officia
                quibusdam molestiae voluptatibus laborum!</p>
            <p><i class="fa-solid fa-envelope"></i> Japneet8208@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> 7982163675</p>
            <p><i class="fa-solid fa-location-dot"></i> G-8 Area, Rajouri Garden, New Delhi:- 110064</p>
        </article>
        <article>
            <h2>Quick Links</h2>
            <div class="quickLinks">
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Speakers</a></li>
                <li><a href="/">Venue</a></li>
                <li><a href="/">Papers</a></li>
            </div>

        </article>
        <article>
            <h2 style="display: flex; gap: 10px; align-items: center;"><img width="40px" src="/img/gtbitlogo.png"
                    alt=""> GTBIT</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio laboriosam temporibus doloribus
                assumenda culpa neque et magnam reprehenderit tempore dolorum ad minus, reiciendis nesciunt officia
                quibusdam molestiae voluptatibus laborum!</p>
            <p><i class="fa-solid fa-link"></i> <a href="https://www.gtbit.org/">gtbit.org</a></p>
        </article>
    </footer>
    <p id="footerBar">International Conference On Computational Intelligence, Data Analytics
        and Information Sciences Copyright © 2023
    </p>
    <p id="footerBar2">Website by Japneet Singh Baluja
    </p>
    <script src="/js/sidebar.js"></script>
</body>

</html>