@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root {
    /* --primary-color: #FD5D5D; */
    --primary-color: #FD5D5D;
    --primary-color2: #333;
    --primary-color3: rgb(228, 235, 235);
    --gray: #9e9e9e;
    --transition: 0.3s all linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

#showcase1 {
    width: 100%;
}

#showcase1 article {
    padding: 20px;
    display: grid;
    place-items: center;
    min-height: 600px;
    /* background: linear-gradient(rgba(32, 32, 32, 0.545), rgba(255, 255, 255, 0.778), rgba(255, 255, 255, 0.836)), url('/img/showcase-1-article1.jpg') center center/cover no-repeat; */
    background: rgb(255, 248, 244);
}

#showcase1 article p {
    font-size: 25px;
    max-width: 1000px;
    margin: 5px 0;
    color: #333;
    font-family: 'Merriweather', serif;
}


#showcase1 article h2 {
    font-size: 49px;
    margin-bottom: 2px;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

.organisedBy {
    max-width: 950px;
}

.organisedBy img {
    width: 90px;
    height: 90px;
}

#showcase1 article .bgText {
    display: flex;
    flex-direction: column;
}

.line {
    height: 200px;
    width: 10px;
    background-color: var(--primary-color);
}

#showcase1 article i {
    color: var(--primary-color);
    margin: 10px 0;
    margin-right: 14px;
}


@media screen and (max-width:800px) {
    #showcase1 article h2 {
        font-size: 29px;
    }

    #showcase1 article p {
        font-size: 20px;
    }
}


@media screen and (max-width:550px) {
    #showcase1 article h2 {
        font-size: 22px;
    }

    #showcase1 article p {
        font-size: 20px;
    }

    .size18 {
        font-size: 20px;
    }

    .organisedBy p {
        font-size: 17px !important;
    }

    .line {
        height: 170px;
    }
}